# Token del bot (Discord Developer Portal -> Bot -> Reset Token)
TOKEN=
# ID de la aplicación del bot
CLIENT_ID=
# ID del usuario administrador/owner del bot
ADMIN_ID=
# Cadena de conexión de MongoDB (Atlas u otro)
MONGO_URI=
